html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
     background-color: #97CADB;
     font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    color: #001B48;
    text-shadow: 2px 2px #D6E8EE;
    padding: 10px;
}

#menu{
    width: 35px;
    height: 5px;
    cursor: pointer;
    z-index: 2;
    
}

#menu-options ul{
    list-style: none;
    padding-left: 0;

    
}

#menu-options li{
    background-color: #018ABE;
    line-height: 70px;
    text-align: center;
    font-size: 26px;
    border-bottom:solid 1px #D6E8EE;
    border-radius: 5px;
}

#menu-options a{
    text-decoration: none;
    color: black;
     color: #D6E8EE;
}

#menu-options a:hover{
    font-weight: bold;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: #D6E8EE;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  
}

/* Attribution: Caler Edwards https://www.youtube.com/watch?v=xMTs8tAapnQ */
#bar1{
    transform: translateY(-4px);
}

#bar2{
   
}

#bar3{
    transform: translateY(4px);
    
}

.expanded-hamburger-menu #bar2{
    opacity: 0;
}

.expanded-hamburger-menu #bar1{
    transform: rotateZ(-45deg) translateY(6px);
}

.expanded-hamburger-menu #bar3 {
    transform: rotate(45deg) translateY(-7px);
}





/* Attribution Code Spot https://www.youtube.com/watch?v=F-mvXKKoSCU */

/* 
This is for the original nav bar with just a static help and login tag. It is currently commited out in the html as well 
nav li {
    list-style: none;
    display: inline;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: black;
} */
container-center-create-card{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rosybrown;
    z-index: 3;
}

input{
    width: 80%;
    height: 20px;
    text-align: center;
    margin: 5px 0;
}

form a{
    color: white;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 10px;
    text-decoration: none;
}

form a:hover{
    color: tomato;
}

.create-card-modal{
    position: relative;
    display: flex;
    text-align: center;
    padding: 10px;
    width: 400px;
    height: 300px;
    background-color: #D6E8EE;
    border-radius: 2px;
}
#flashcard {
    width: 70vw;
    height: 75vw;
    border-radius: 10px;
    background-color: white;
    margin: 20px 10px;
    padding-top: 20px;
    padding-right: 30px;
}

#create-card-modal p{
    margin-top: 10px;
    margin-bottom: 50px;
}

#create-card-modal input{
    margin: 10px 0;
}


#main-container{
    display: flex;
    justify-content: center;
}

#card-controls-container{
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

ul li{
    list-style: none;
}

/* Menu Modal START */
/* #menu-options-modal{
    /* background-color: rgb(179, 179, 177); */
    /* margin-top: 100px; */

/* } */ 
/* Menu Modal END */



/* Card List Modal Start */
/* .model-bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards-list-modal {
    width: 200px;
    height: 300px;
    background-color: white;
    color: rosybrown;
    z-index: 8;
} */

/* Card List Modal END */