html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#menu{
    /* background-color: blue; */
    width: 35px;
    height: 30px;
    margin-top: 25px;
    cursor: pointer;
    margin-left: 85vw;
    margin-top: -50px;
    position: relative;
    z-index: 2;
}


#menu-options ul{
    margin-top: 70px;
    list-style: none;
    padding-left: 0;

    
}

#menu-options li{
    line-height: 70px;
    text-align: center;
    font-size: 26px;
    border-bottom:solid 1px black;
}

#menu-options a{
    text-decoration: none;
    color: black;
     color: white;
}

#menu-options a:hover{
    font-weight: bold;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: cadetblue;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

/* Attribution: Caler Edwards https://www.youtube.com/watch?v=xMTs8tAapnQ */
#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.expanded-hamburger-menu #bar2{
    opacity: 0;
}

.expanded-hamburger-menu #bar1{
    transform: rotateZ(-45deg) translateY(6px);
}

.expanded-hamburger-menu #bar3 {
    transform: rotate(45deg) translateY(-7px);
}





/* Attribution Code Spot https://www.youtube.com/watch?v=F-mvXKKoSCU */

/* 
This is for the original nav bar with just a static help and login tag. It is currently commited out in the html as well 
nav li {
    list-style: none;
    display: inline;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: black;
} */

#flashcard {
    width: 40vw;
    height: 40vw;

}



#main-container{
    display: flex;
    justify-content: center;
}

#card-controls-container{
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

ul li{
    list-style: none;
}

/* Menu Modal START */
#menu-options-modal{
    background-color: rgb(179, 179, 177);
    position: absolute;
	top: 0;
	right: 0;
	height: 400px;
	width: 300px;
	z-index: 1;
    overflow: auto;
    border-bottom-left-radius: 5px;
}
/* Menu Modal END */



/* Card List Modal Start */
.model-bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards-list-modal {
    width: 200px;
    height: 300px;
    background-color: white;
    color: rosybrown;
    z-index: 8;
}

/* Card List Modal END */